[2017-05-08 21:00] SingingBush opened #2 "build fails without skeleton value"
according to the readme `skeleton` is optional but when not specified the build fails with: `> No value has been specified for property 'skeleton'.`

[2017-05-09 15:29] #2 closed

[2017-08-25 12:05] sanore opened #3 "Code generation isn't equal with Grammar-Kit"
I am trying to run the generateParser task. But the generated code isn't the same than if I run the action within context menu.

**Versions**
jflexRelease = '1.7.0'
grammarKitRelease = '1.5.2'
idea = '2017.2'

**Gradle**
[code]

**PluginParser.bnf File**
[code]

**Generated Block interface**
[code]

**Generated Block interface with Grammar-Kit**
[code]

UtilClass
[code]

[2017-08-25 12:13] AlecStrong commented on #3
Ha, I ran into this recently as well. I know what the problem is but I dont know how to fix it. It is because `PluginsPsiImplUtil` is not on the classpath when gradle is running, so grammar-kit can't find the method. Essentially a chicken egg problem where grammar kit generates java but the gradle task depends on java and since they're in the same module the gradle task runs first.

In my own repo

[2018-01-09 19:56] breandan commented on #3
Also encountered this issue - this plugin doesn't handle `psiImplUtilClass` in the BNF.

[2018-03-05 10:00] Shan1024 opened #7 "Configuration with name 'compileOnly' not found."
I get the following error on gradle 4.5.1. Any idea on how to fix this?

[code]

[2018-03-05 10:42] hurricup commented on #7
nope, need to investigate.

[2018-03-05 11:55] hurricup commented on #7
Can i see a build script?

[2018-03-05 12:04] Shan1024 commented on #7
@hurricup - Seems like it was due to an issue in the build script which is not related to this plugin. Sorry about the noise.

[2018-03-05 12:04] #7 closed

[2018-03-19 19:19] ice1000 opened #8 "Migrate to Grammar-Kit 2017.1.2"
Grammar-Kit 2017.1.2 has been published. Please take a look.

[2018-03-23 07:59] hurricup commented on #8
https://github.com/JetBrains/gradle-grammar-kit-plugin/commit/df8671e09b46cafc6f535f5e8f9cdaa40f196d6e

[2018-03-23 07:59] #8 closed

[2018-03-23 10:05] ice1000 commented on #8
Thanks!

[2018-03-23 10:26] ice1000 opened #9 "Bug: generated lexer doesn't compile"
Steps to reproduce:

+ clone https://github.com/covscript/covscript-intellij
+ change version of grammar kit plugin in `build.gradle.kts` from `2017.1.1` to `2018.1`
+ remove this code block:

[code]

And you'll see compilation error.
I guess it's because the jflex skeleton is broken but I'm not sure.

[2018-03-23 10:59] hurricup commented on #9
The problem is the JB patched JFlex still contains original skeleton file.
Previously, this plugin used other repo with explicit patch for this: https://github.com/hurricup/jflex/commit/41f12fa0e46215d8c197ddb4a9cfdb0e1c8eb092
Suppose something similar should be done in https://github.com/JetBrains/intellij-deps-jflex
As workaround you may add a [skeleton file](https://github.com/hurricup/jflex/bl

[2018-03-23 11:32] ice1000 commented on #9
So I prefer waiting for the fix. And I can update the version and remove the config code block. :p

[2018-03-23 16:58] hurricup commented on #9
Could you please try `jflexRelease="1.7.0-1"`

[2018-03-23 17:39] hurricup commented on #9
I've released `2018.1.1` try it

[2018-03-23 17:39] #9 closed

[2018-03-23 18:05] ice1000 commented on #9
Works like a charm, thanks!

[2018-05-08 12:50] fedork commented on #3
this looks like a fundumental shortcoming... basically you can't use this plugin if you want to use custom methods. And it seems like it can't be fixed? Or is there some hope?

[2018-05-08 12:58] hurricup commented on #3
There is alway hope :)

[2018-05-08 13:27] ice1000 commented on #3
Wat? @hurricup you mean you're working on this and there's some progress?

[2018-05-08 14:30] hurricup commented on #3
Not exactly. I understand where is the problem. But not working on it now.
Tldr: to make injected methods work, GK should have class files to analyze. But gradle plugin generates parsers before any compilation. This probably can work if you'll add generated code to the vcs. But this, probably, reduces plugin usefulness.

[2018-05-08 15:44] fedork commented on #3
@hurricup My guess is that to properly fix it parser generator should parse mixin sources instead of relying on compiled classes... But that's probably substantial rework

[2018-05-08 15:51] fedork commented on #3
I guess my best workaround for this is not to use "methods" and instead create an interface with those methods and use "implements". Seems cleaner too

[2018-05-08 16:26] hurricup commented on #3
@fedork this is a question for @gregsh

[2018-05-08 17:50] ice1000 commented on #3
What about writing the full-qualified method signature in the .bnf file? I think in this way GK can do a very very simple parsing and generate the methods.

[2018-05-08 22:33] fedork opened #10 "GenerateParser up-to-date check broken if targetRoot does not have trailing "/""
since this code simply concats strings:

def parserFile = project.file("$targetRoot$pathToParser")
outputs.file parserFile
def psiDir = project.file("$targetRoot$pathToPsiRoot")

it only works properly if targetDir has trailing slash, otherwise it mostly works but up-to-date check and purging do not work properly

[2018-06-02 21:54] breandan opened #11 "Publish on the Gradle Plugin Repository"
By distributing the plugin on the [Gradle Plugin Repository](https://plugins.gradle.org/) next to other [JetBrains plugins](https://plugins.gradle.org/search?term=jetbrains), users can make use of the new [`plugins { ... }` DSL](https://docs.gradle.org/current/userguide/plugins.html#sec:plugins_block) without any extra configuration. Otherwise they will need to use the older `apply {...}` syntax o

[2018-06-25 13:44] cedricziel commented on #10
Wow. Came here to report generating the lexer doesnt work correctly, but simply removing the trailing slash works flawlessly. This has cost me a bunch of nerves.

[2018-07-02 18:54] #10 closed

[2018-07-11 15:15] #11 closed

[2018-07-15 22:27] chris-laplante opened #13 "%line and %column are not supported (i.e. yyline and yycolumn)"
The skeleton that this plugin uses is missing the yyline and yycolumn (and also yychar) member variables. This means the %line and %column directives don't work.  Also needs to add the line `yyline = yychar = yycolumn = 0;` to the `yyreset` method.

[2018-07-22 14:34] chris-laplante commented on #13
Actually, as I've gotten deeper into it, I perhaps realize why yyline and yycolumn were omitted. If you're writing a highlighting lexer that needs to encode its state as a single integer, you probably can't afford to waste bits trying to pack in yyline and yycolumn. I was able to workaround needing yycolumn anyway, by using ^ in my regular expression.

[2018-10-17 22:39] breandan commented on #3
@hurricup Any progress? It would be great to have a solution to this issue, even if that is supporting only a subset of the GrammarKit syntax.

[2018-11-10 18:51] BjoernAkAManf commented on #3
Just encountered the same issue. I worked around it by invoking parser GenerateParser twice.
First one is a dependend of compileJava
Second one depends on compileJava which also needed the following statements to work in my setup:
[code]

[2018-11-26 15:20] samowen-kiwipower commented on #3
Did you get this to work inside a gradle build? I've worked around for now by creating a bash script to do the 2 compile dance:
[code]

[2018-11-26 17:49] BjoernAkAManf commented on #3
Yeah i am using gradle for it. While not a perfect solution, it works. A significant disadvantage is, that i'm required to maintain two projects, because referencing utility classes will not work in the same project that is used for generation.

[2019-01-21 18:17] AlecStrong opened #14 "PicoContainer not on classpath"
[code]

happens when trying to generate the parser. Looks like theres a reference from here: https://github.com/JetBrains/Grammar-Kit/blob/master/src/org/intellij/grammar/LightPsi.java#L73

and the main grammar kit project just has it included as a jar in the libs/ directory.

[2019-01-21 21:05] AlecStrong commented on #14
I _think_ this would be resolved if grammar-kit targeted 2018?

[2019-01-21 21:43] AlecStrong commented on #14
and nevermind I didn't realize the names of jars changed in intellij with 2018.3 so I just needed to load them differently. My bad! The PR linked above includes the fix I had to do locally if anyone else runs into this

[2019-01-21 21:43] #14 closed

[2019-02-12 20:37] breandan opened #15 "Update Gradle Plugin Repository"
Latest version is [`2018.2.2`](https://plugins.gradle.org/plugin/org.jetbrains.grammarkit).

[2019-02-13 04:28] hurricup commented on #15
Whoops :) Thank you! Fixed.

[2019-02-13 04:28] #15 closed

[2019-02-20 21:38] stefansjs commented on #3
So, there should be no additional chicken/egg issues with running gradle in the JVM compared to using the grammarkit plugin. How does grammarkit solve this problem? It's also a .jar also running in the JVM right? There must be some solution (I suspect just specifying -classpath or something?).

[2019-02-22 04:30] stefansjs opened #16 "GenerateLexer up-to-date checks don't work"
I have written a GenerateLexer task like so:

[code]

But when delete the generated class and re-run, it doesn't notice that there is no output, and it reports "UP-TO-DATE" (and then I don't have a lexer and compilation fails)

[2019-02-22 05:42] stefansjs commented on #16
I think gradle is getting confused by the input/output annotations. Here's my workaround
[code]

I actually had to update the .flex file to output to a different package, but in the end I needed this so that the generateLexer and generateParser tasks didn't both produce outputs in the same directory

[2019-04-13 05:47] breandan opened #17 "ClassNotFoundException: com.intellij.mock.MockProjectEx"
Not sure if related to [GrammarKit](https://github.com/JetBrains/Grammar-Kit) or the gradle-grammar-kit-plugin. Updating to ~`2019.1`~ `2018.3.1` caused the following error on [this project](https://github.com/duckietown/hatchery) (works fine on `2018.3`):

[code]

[2019-04-15 08:45] hurricup commented on #17
@gregsh could you please assist?

[2019-04-15 18:18] gregsh commented on #17
https://github.com/JetBrains/Grammar-Kit/issues/213 ?

[2019-04-18 08:31] Undin commented on #17
Looks like the reason of this exception is [this](https://github.com/JetBrains/gradle-grammar-kit-plugin/commit/ef70473be02e2e769f81478a089da10db05d8b00) commit
Now the plugin tries to find `MockProjectEx` only in several jars and it works with IDEA distribution (where `MockProjectEx` is in `idea.jar`) but doesn't work with CLion because `MockProjectEx` is in `testFramework.jar` that are not in cl

[2019-04-18 08:41] #17 closed

[2019-05-19 00:26] breandan commented on #17
@hurricup Are you planning to update the [Gradle Plugin Repository](https://plugins.gradle.org/plugin/org.jetbrains.grammarkit) to include this fix?

[2019-06-03 16:46] ice1000 opened #19 "ClassNotFoundException with IntelliJ 192"
I got this exception:

[code]

I'm using IC-192.4488.21
https://github.com/JetBrains/Grammar-Kit/issues/214

[2019-06-03 16:47] ice1000 commented on #19
Gradle config:

[code]

[2019-06-03 17:01] ice1000 commented on #19
Seems that it's because `JBColor` is moved from `util.jar` to `platform-util-ui.jar`. Let's add them to the required jars as well (there must be more than just one jar that is missing).

[2019-06-04 17:57] hurricup commented on #19
I'll wait for the next snapshot and adjust. Probably some dependencies will gone.

[2019-06-05 04:28] #19 closed

[2019-06-05 04:30] hurricup commented on #19
Works fine with `192.4787-EAP-CANDIDATE-SNAPSHOT`

[2019-06-05 06:27] ice1000 commented on #19
Thanks!

[2019-09-25 03:23] carymrobbins opened #21 "ClassCastException: MockApplication cannot be cast to ApplicationEx"
Project/Commit: https://github.com/carymrobbins/intellij-haskforce/commit/183363f23387236ca150097b102afddabd27d487

When attempting to invoke grammar-kit via my `generateHaskellParser` task, I get the following exception and stack trace. Issue https://github.com/JetBrains/gradle-grammar-kit-plugin/issues/17 sounds somewhat related, but I'm not entirely sure.

[code]

[2019-12-26 17:19] 62mkv opened #23 "ImplUtil class not found"
When the README says `NB: plugin does not support two-pass generation, therefore does not suport method mixins.` does this also mean that such constructions:

[code]

are also not possible to use with a Gradle plugin? if yes, is it possible to provide more extensive explanation in the README? and are there plans/possibilities to support such functionality in the future?

[2019-12-26 17:27] 62mkv commented on #23
PS: it feels as it's not possible with the plugin; keeps saying 'class not found'. And by the feel of it it's not clear how should it work, as the task is dependency for 'compileJava'.

[2020-01-17 03:36] xuyuanxiang commented on #23
+1

[2020-01-17 10:52] Undin opened #24 "MergeQuery class can not be found with 2020.1"
Environment:
* **org.jetbrains.grammarkit**: 2019.3
* **intellij.version**: IU-201.3803-EAP-CANDIDATE-SNAPSHOT

While parser generationI get the following exception.
<details><summary>stacktrace</summary>
<p>

[code]

</p>
</details>

The cause was moved `MergeQuery` class from `platform-api` module to `platform-concurrency` one. Since `gradle-grammar-kit-plugin` uses a restricted list of jars as

[2020-01-17 11:04] #24 closed

[2020-02-20 10:36] necauqua commented on #3
Sorry to bring it up exactly a year later, but this is still unresolved and I want to share how I got it to work more or less okay for me.

The key point is that it works if you do it in Kotlin, so you have an additional compilation step without dealing with multiprojects.

The main thing is that it is not a very big snippet in the gradle build script:
<details>
<summary>
build.gradle.kts
</summar

[2020-03-03 22:15] bryant1410 opened #26 "Missing 2020.1 tag and release in this repo"

[2020-03-04 03:08] hurricup commented on #26
and why should it be?

[2020-03-04 03:21] bryant1410 commented on #26
For consistency? AFAIK, there's a tag and release for every version, except for this one :man_shrugging:

[2020-03-04 03:28] hurricup commented on #26
Nope. Only when real changes happens. Like update of default GK or JFlex or some adjustments into the plugin's code. Otherwise - plugin version stays as it is. There are no formal releases

[2020-03-04 03:29] #26 closed

[2020-03-04 23:53] ice1000 opened #27 "Gradle 6.2.1 deprecation"
[code]

This message comes from the lexer generation task.

[2020-03-08 10:51] vlad20012 opened #28 "Infinite analysis in BNF file in IDEA"
If I open the Rust grammar in IDEA with Grammar Kit plugin, the analysis never completes and one thread uses 100% of the core (thread dump attached).

Grammar Kit plugin version: 2019.3
BNF file: https://github.com/intellij-rust/intellij-rust/blob/master/src/main/grammars/RustParser.bnf

IntelliJ IDEA 2019.3.3 (Ultimate Edition)
Build #IU-193.6494.35, built on February 11, 2020
Licensed to JetBrai

[2020-03-15 07:37] #27 closed

[2020-03-15 15:45] MTRNord commented on #23
This still happens for me too :/

[2020-03-15 21:08] ice1000 opened #29 "Skeleton is no longer optional -- can we make it optional again?"
[code]

After upgrading to `2020.1.1`

[2020-03-16 04:42] #29 closed

[2020-03-16 04:42] hurricup commented on #29
Please, try 2020.1.2

[2020-04-24 06:20] ice1000 opened #30 "WARN: registry accessed but not loaded yet"
I get the following warnings:
[code]

Repo: https://github.com/JetBrains/intellij-arend/tree/eb029f2377cb81d62ec5159f064f383f590bd9b1

[2020-04-24 06:26] hurricup commented on #30
This looks like a GK problem, not this plugin. This plugin just runs GK.

[2020-04-24 06:27] ice1000 commented on #30
Maybe we can transfer this issue to GK

[2020-04-24 06:39] hurricup commented on #30
Seems I need some permission to do that.
@gregsh

[2020-04-24 12:46] gregsh commented on #30
These are GK generator warnings, you can check your grammar whether the generator choices for your [expression grammar](https://github.com/JetBrains/Grammar-Kit/blob/master/HOWTO.md#24-compact-expression-parsing-with-priorities) are correct.

It is IntelliJ platform warnings. They mean nothing. Please ignore them.

[2020-04-24 15:30] ice1000 commented on #30
That's what I was asking for, thanks!

[2020-04-24 15:30] #30 closed

[2020-06-03 19:27] xBlackCat commented on #3
What if grammar-kit-plugin generates Lexer _after_ compile task?

The whole idea is:
A plugin project can be split on two modules:
1. psi-structure (bnf and Psi util java classes for proper generation code from bnf)
2. Remain logic of the plugin (depends on 1.)

Custom plugin project will have following dependency tree:
my-language-plugin
  +---- my-language-plugin-psi

And gradle will compile mod

[2020-06-16 11:44] FingerArt commented on #23
+1

[2020-08-10 21:23] BrianPin opened #31 "Exception in thread "main" java.lang.NoClassDefFoundError: it/unimi/dsi/fastutil/Hash$Strategy while generating parser"
Hi

I happened to see this build failure when I switch to use new JetBrain sdk release 2020.2, (before it was fine).

it failed to build because the exception:

[code]

After I switch back to use 2020.1, it builds fine.

How should I solve this problem? Will it be necessary to have changes from JetBrain ?

This is happening while generate parse gradle task is running

[2020-08-10 21:25] BrianPin commented on #31
I tried switching between grammarkit gradle plugin version 2019.3 and 2020.1 both are not capable of solving this problem.

[2020-08-11 16:50] BrianPin commented on #31
Can anyone help on this issue?

[2020-08-17 13:54] tsalzinger commented on #31
@BrianPin encountered the same issue but 2020.2.1 resolved exactly this issue - see commit https://github.com/JetBrains/gradle-grammar-kit-plugin/commit/de2bd41d79d0825b75bd43b2ea2f239b5aaccf0e

[2020-08-17 14:12] #31 closed

[2020-10-07 20:34] jplaisted opened #32 "Java 8 compatibility"
I'm trying to create a new plugin for intellij using grammar kit. When I try to build with gradle I get the following error:

[code]

With the task defined as

[code]

Using grammar kit `2020.2.1` and intellij plugin `0.5.0`.

All I can tell here is that this a Java 8 vs 11 issue. I'm not sure if this means I have to upgrade my entire project to 11 or if it is something locally on my machine I nee

[2020-10-08 04:15] hurricup commented on #32
Looks like you need to run gradle with Java 11.
FYI: Idea migrated to Java 11, so there is a little sense to stay on 8

[2020-10-08 17:03] jplaisted commented on #32
Yeah, that was it, thanks. Forced my Java version to 11 and it builds now. Thanks!

[2020-10-08 17:03] #32 closed

[2020-11-03 13:20] gregsh commented on #23
@hurricup We can possibly solve multi-pass problem using Java Annotation Processor API.
No annotation is actually required.

Pass the list of grammar files to an annotation processor via compiler args and then a universal annotation processor would run in several passes and do its work. We can use Lombok-like Java Compiler API hacks to modify the newly generated files in pass two, or find another

[2020-11-05 03:14] megantracy93 commented on #32
I am running into the same issue. I have several other projects that rely on java 8 so I'd rather not force my java version to java 11 everywhere. As specified in the gradle docs, is there a way to override the java home for the grammarkit tasks? https://docs.gradle.org/6.7/userguide/toolchains.html#integration_with_tasks_relying_on_a_java_executable_or_java_home Or is there a possibility of relea

[2020-11-05 03:39] hurricup commented on #32
@megantracy93 you may use previous versions of plugin and/or grammar-kit with java 8 support.

[2020-11-05 04:11] megantracy93 commented on #32
@hurricup I am trying to upgrade my plugin to work against IntelliJ 2020.3 which requires java 11 to work: https://jetbrains.org/intellij/sdk/docs/reference_guide/api_notable/api_notable_list_2020.html#notable-changes-in-intellij-platform-20203

[2020-11-05 04:22] hurricup commented on #32
Sorry, I'm not quite sure I understand what is your problem.
As I understand, you don't want to change `JAVA_HOME` on your machine to use jdk11.
But you still can choose any sdk for your project and/or gradle in IDEA.

[2020-11-05 04:27] megantracy93 commented on #32
Correct, I don't want to change my JAVA_HOME. I also would rather not have to configure it in IDEA as I prefer to run gradle commands from the terminal _and_ I need to be able to build my plugin from a CI environment which uses a terminal as well. So, I need a way to configure the java version in the gradle configuration itself. I see the grammarkit plugin is [currently configured to request java

[2020-11-05 04:43] hurricup commented on #32
No, this only means that plugin may be used with java 8 or older.
Your problem it's more about how to configure gradle to use different java's to run, not about this plugin.

Probably this may help you: https://stackoverflow.com/questions/18487406/how-do-i-tell-gradle-to-use-specific-jdk-version

Or google :)

[2020-11-05 04:44] jplaisted commented on #32
You could try changing your JAVA_HOME for just that terminal that is building that project. Won't impact your entire system. Still a bit of a pain, but it works.

Add scripts in your home directory to change JAVA_HOME so you can easily switch. That's what I ended up with.

[2021-01-04 23:10] jord1e commented on #3
This worked for the Gradle Kotlin DSL, thank you.

It really shouldn't be this hard, #23 is practically the same issue (also see https://github.com/JetBrains/Grammar-Kit/issues/35). It's kind of frustating that we either have to do two passes or manually generate the parser. It's been almost three years. I don't know how hard it would be to fix but the solution using "hidden" annotation processors

[2021-01-21 18:13] gregsh commented on #21
Shall be fixed long ago.

[2021-01-21 18:13] #21 closed

[2021-01-21 18:25] gregsh commented on #28
That should have been reported in [Grammar Kit](https://github.com/JetBrains/Grammar-Kit/issues) tracker.

[2021-01-21 18:25] #28 closed

[2021-01-21 18:36] #13 closed

[2021-02-06 14:15] JojOatXGME commented on #23
I'm wondering if Grammar-Kit could already get enough information from an [`ErrorType`](https://docs.oracle.com/en/java/javase/11/docs/api/java.compiler/javax/lang/model/type/ErrorType.html) if parameters or return types referring to classes generated by Grammar-Kit cannot be resolved yet. Then, no Lombok-like Java Compiler API hacks would be necessary. Anyway, I'm not sure which information can a

[2021-04-13 08:42] YannCebron opened #35 "Does not work with Gradle 7.0"
plugin:  id "org.jetbrains.grammarkit" version '2020.3.2'

[code]

task setup

[code]

[2021-04-13 11:08] #35 closed

[2021-04-16 14:27] AlecStrong opened #36 "Include required libs on the task classpath"
Currently the `Generate` tasks [pull their dependencies off of the compile classpath](https://github.com/JetBrains/gradle-grammar-kit-plugin/blob/master/src/main/groovy/org/jetbrains/grammarkit/tasks/GenerateParser.groovy#L28-L45), in my downstream project I [manually add maven dependencies](https://github.com/AlecStrong/sql-psi/blob/master/build.gradle#L78-L90) to the classpath of the task like t

[2021-04-19 14:40] hurricup commented on #36
If I get this right, you are suggesting:

1. Introduce some `generateParser` configuration
2. Use it as additional source for dependencies

If yes, i'm totally ok with this.

Few notes:
1. probably something more specific than `grammar`, e.g. `generateParserClassPath`  or `grammarKitClassPath`
2. dependencies collecting should be changed:
    - for each dependency (first wins)
      - look in 'gen

[2021-04-19 14:57] AlecStrong commented on #36
sounds great! I'll take a shot at it and open a PR with the proposed change

[2021-04-19 14:58] hurricup commented on #36
Also, pls check it works with your case, as far as we lack of tests :) shame....

[2021-05-03 17:05] amynbe opened #39 "How to implement PsiElement.getReference?"
Issue #23 means you can't use `psiImplUtilClass` to generate your method overrides in the PsiElement implementation.

Then how am I supposed to add support for references in my PsiElements?

Let's try to bridge the gap between https://plugins.jetbrains.com/docs/intellij/references-and-resolve.html and https://github.com/JetBrains/Grammar-Kit/blob/master/HOWTO.md:

- The former says you need to imp

[2021-05-03 18:38] DemonWav commented on #39
`mixin` should do what you need in order to support references.

[2021-05-04 12:52] amynbe commented on #39
Thank you @DemonWav, this is working.

[2021-05-05 07:10] #36 closed

[2021-05-30 14:58] JojOatXGME commented on #23
I implemented a PoC for an annotation processor at [JojOatXGME/Grammar-Kit-Annotation-Processor]. As noted in my last comment, it seems to work without *Lombok-like Java Compiler API hacks*. I have only tested it with OpenJDK. It is still a bit hacky (see [here](https://github.com/JojOatXGME/Grammar-Kit-Annotation-Processor/blob/4468378d6b8c6fcc60a2ef21714e55567a1a85ec/src/main/java/dev/johanness/

[2021-06-07 12:17] gregsh commented on #23
@JojOatXGME That is awesome. I've never had time to look into the annotation processor API myself.
I'd like to add the annotation processor to Grammar-Kit based on your work. Would you like to submit a PR?

Regarding the "Limitations" section:
1. Running JFlex on a specific *.flex file can be automated in Gradle, no need to address that.
2. "If the class behind psiImplUtilClass..."
     That needs

[2021-06-07 17:42] JojOatXGME commented on #23
I can create a pull request, but it may take a few weeks because I'm a bit busy. 😄 Did I understand you correctly that the pull request shall target the [Grammar-Kit repository](https://github.com/JetBrains/Grammar-Kit) directly?

Besides that, I think it might be good to test the annotation processor with a few more compilers. (Are there still important Java compilers apart from OpenJDK?) I have

[2021-06-07 18:22] gregsh commented on #23
@JojOatXGME

Yes, PR for GK repository. I can do it myself and reference you any way you like.

Got it. Looks trivial.

What needs to be done here?

[2021-06-08 17:00] JojOatXGME commented on #23
I would like to prepare a pull request if you have time to wait for one or two weeks. If you want to work on it right away, you may do it yourself.

Well, that is more complicated. The `JavaHelper` implementation resolves the parameter types of methods in the `psiImplUtilClass`. Some of these types cannot be resolved by the compiler because Grammar-Kit is just about to create the related classes.

[2021-06-19 23:06] gregsh commented on #23
@JojOatXGME I've done some preparations and played with the processor in the "in-ide" (not gradle) mode with [Perl5-IDEA](https://github.com/Camelcade/Perl5-IDEA) plugin. And I've stumbled upon a critical problem that looks like [JDK-8159770](https://bugs.openjdk.java.net/browse/JDK-8159770). The annotation processor is simply not invoked because `PerlFormattingTokenSets` extends `PerlElementTypes

[2021-06-20 14:12] JojOatXGME commented on #23
@gregsh That is a problem and I do not have a solution for it. However, there seems to be more to the story than just `A extends Generated_B`. I was not able to reproduce the issue within [this minimal example](https://github.com/JojOatXGME/Grammar-Kit-Annotation-Processor/blob/fd86ad6fbc2165a4d45489666bdc5f2666f8b17c/example/src/main/java/myexample/A.java). Maybe you can check if it works with yo

[2021-06-21 04:29] gregsh commented on #23
@JojOatXGME A non-resolvable import statement produces a non-recoverable error. Can you try that?

[2021-06-21 19:06] JojOatXGME commented on #23
@gregsh If you send me the patch, I can take a look at it. If it is not too complicated, maybe you can also describe how to reproduce the issue?

Regarding non-resolvable imports: I moved the generated class of my attempt to reproduce the issue into another package and inserted an import [[ref](https://github.com/JojOatXGME/Grammar-Kit-Annotation-Processor/commit/b10ce72bbab697e9eb55444e05b3fa5f50

[2021-06-24 22:43] JojOatXGME commented on #23
@gregsh Looks like a bug (?) of Javac to me. A static or non-static import of a nonexistent class is recoverable. But if you have a static import of a nonexistent member of an existent class, Javac treats it as nonrecoverable.

[code]

[code]

In this example, Javac treats the import as nonrecoverable because it cannot find `CONSTANT` in `ExistentClass`. Since annotation processors cannot modify c

[2021-06-25 21:00] gregsh commented on #23
@JojOatXGME I've managed to get JavaC GrammarPlugin working with IntelliJ build system and with Gradle.
Here's the branch https://github.com/JetBrains/Grammar-Kit/commits/javac-plugin.

The required Gradle configuration is commented in `build.gradle`. One can try it out right away. I guess `gradle-grammar-kit-plugin` would make those configs much easier in the future.

Currently, array type annota

[2021-06-26 14:37] JojOatXGME commented on #23
@gregsh I have looked at your commits and left a few comments.

Regarding the switch to a compiler plugin: Since we were already using APIs of the compiler API (module `jdk.compiler`), I guess we might as well create a compiler plugin instead of an annotation processor.

I think the biggest takeaway is that it seems impossible to create an annotation processor for Grammar-Kit without non-standard

[2021-06-26 17:33] gregsh commented on #23
@JojOatXGME

Fixed that in `'com.github.JetBrains:Grammar-Kit:cd365b7'`

[2021-06-26 23:18] fcurts opened #41 "`grammarKitRelease` option doesn't work for 2021 versions"
Setting `grammarKitRelease` to any of the following versions works: 2019.3, 2020.1, 2020.3.1

Setting `grammarKitRelease` to any of the following versions does not work: 2020.3, 2021.1, 2021.1.1

Gradle error: "Could not find com.github.JetBrains:Grammar-Kit:2021.1.1."

id("org.jetbrains.grammarkit") version "2021.1.3"
Gradle 7.1
AdoptOpenJDK-11.0.11+9
macOS 11.4

[2021-06-30 00:09] gregsh commented on #41
https://github.com/JetBrains/Grammar-Kit/issues/276#issuecomment-870998121

[2021-06-30 00:20] fcurts commented on #41
@gregsh Does the fix use/require JitPack? JitPack is not an option for us (blocklisted on CI) and shouldn't be used for production grade dependencies.

[2021-06-30 06:58] hurricup commented on #41
AFAIK for now GK is not published on any maven repo, so JitPack is the only easy way. But if you have your own maven repo, you may put released GK there and add it to the list of repo in your build script.

[2021-06-30 07:04] fcurts commented on #41
@hurricup Our workaround is to put the GK JAR under source control. Would be great if GK was published to Maven Central like other Java OSS libraries.

[2021-06-30 07:18] hurricup commented on #41
Yep, forgot to mention this way :)
True. would be nice, @gregsh

[2021-07-01 01:31] fcurts commented on #41
filed https://github.com/JetBrains/Grammar-Kit/issues/279

[2021-07-04 14:42] KMax opened #42 "Both `GenerateLexer` and `GenerateParser` are executed even if no actual changes in the sources"
I have several tasks extending GenerateLexer and GenerateParser ones. Not sure, but after switching to Intellij IDEA 2021.1.3 these tasks started being executed without any changes to the sources. It's pretty annoying :(

It worked correctly before, but now:

- subsequent executions of `./gradlew build` doesn't trigger the execution of the tasks,
- but if I execute a single test in IntelliJ IDEA,

[2021-07-18 22:00] hweigel528 commented on #16
Also consistently affected by this issue.

I'm not a gradle expert, but I suspect that some of the @Input annotations in GenerateLexer should really be some type of @Output annotation.

At least that's what I gather from reading: https://docs.gradle.org/current/userguide/more_about_tasks.html#sec:up_to_date_checks

Clients shouldn't need to build custom upToDate logic to make this task work proper

[2021-07-29 09:45] #39 closed

[2021-08-03 12:21] hurricup commented on #16
The thing is we have an input - string with setting and output - file specified by this setting. So every property is corretly marked as input and there is a code registering output file: https://github.com/JetBrains/gradle-grammar-kit-plugin/blob/master/src/main/groovy/org/jetbrains/grammarkit/tasks/GenerateLexer.groovy#L24

But probably it's too late afterEvaluate. I'll check this

[2021-08-18 12:16] #23 closed

[2021-09-21 10:51] mfilippov opened #48 "Problem with parser generator in ForTea"
I have error:
[code]
Looks like we need com.intellij.psi.PsiModifierListOwner which part of module: "intellij.java.psi" which part of:
[code]

[2021-10-07 00:36] stengerh opened #50 "Plugin does not work as documented with Kotlin DSL"
I have set up a new IntelliJ plugin project from the [JetBrains/intellij-platform-plugin-template](https://github.com/JetBrains/intellij-platform-plugin-template). When I try to add the GrammarKit plugin to my build.gradle.kts as described in README.md, I get the following output from Gradle:

[code]
I have added the following to my build.gradle.kts:
[code]

IntelliJ also highlights the calls to t

[2021-10-08 09:29] stengerh commented on #50
Thanks for clearing this up! I have successfully updated my `build.gradle.kts`.

I'll leave to you whether you want to keep this issue open for documentation purposes.

[2021-10-13 21:38] mathze opened #51 "Update JFlex to latest version"
I'm encountering some issues (e.g. [jflex/#216](https://github.com/jflex-de/jflex/issues/216)) while searching for this, I recognized, that the issue was already fixed.
Than I remembered about the patched jflex thing.
So I'm not quite sure if this is the right place to ask, but would it possible to get a up-to-date jflex-patch?
Also I don't know the reasons for the 'custom patched version' but may

[2021-10-14 09:29] YannCebron commented on #51
please report to https://github.com/JetBrains/intellij-deps-jflex

[2021-10-14 09:29] #51 closed, assigned to nobody

[2021-11-23 20:27] denis417 opened #83 "Unable to initialize main class org.intellij.grammar.Main"
The cause I think is a merge of `platform-impl.jar`, main jar and `3rd-party.jar` into `app.jar`

[2021-11-30 11:32] nils-a opened #60 ""Could not find or load main class org.intellij.grammar.Main" after update from 2021.1.3 to 2021.2"
I have updated the plugin from 2021.1.3 to 2021.2 and updated the use of the lazy properties.
However, I get an error `Could not find or load main class org.intellij.grammar.Main` now.
Are there more steps needed for the update?

Full error:

[code]

[2021-11-30 22:38] nils-a commented on #60
fixed in [2021.2.1](https://github.com/JetBrains/gradle-grammar-kit-plugin/releases/tag/v2021.2.1). Thanks @hsz 🙇

[2021-11-30 22:38] #60 closed

[2021-12-12 15:47] lukaspj opened #61 "Failed to create directory property 'targetDir'"
Hi,

I'm trying to upgrade to the latest version of this plugin but I get this error:
[code]

This looks to me like somewhere is missing a call to .get.

I have attached my build.gradle.kts file.

I tried looking through the code in master, but couldn't find any obvious mistake, I'm probably missing something.

[build.gradle.kts.txt](https://github.com/JetBrains/gradle-grammar-kit-plugin/files/769

[2021-12-15 17:05] YannCebron commented on #61
what is this line in `outputs.file("${targetDir}/${targetClass}.java")` ?
why do you have both `val generateTorqueScriptLexer =...` as well as `generateLexer` task?

see this as reference https://github.com/YannCebron/m68kplugin/blob/main/build.gradle.kts

[2021-12-15 19:48] lukaspj commented on #61
Right sorry, I had copy-pasted my "try something and see if it gives me another error" version of the build.gradle.kts.

So, I got it running. I had to stop using the `val generateTorqueScriptLexer =...` version and instead use the `generateLexer` version. Otherwise it would keep trying to run the unconfigured `generateLexer` task instead of my version of the task. (The named version of the genera

[2021-12-15 19:48] #61 closed

[2022-01-21 08:39] Undin opened #69 "Could not find dev.thiagosouto:plugin:1.3.4 with `org.jetbrains.grammarkit` 2021.2.1"
In [IntelliJ Rust](https://github.com/intellij-rust/intellij-rust) plugin we have a [task](https://github.com/intellij-rust/intellij-rust/blob/0d08def3a3dd87ade9d289dc5854d6c281a2a505/build.gradle.kts#L415-L422) to resolve all gradle configurations. We use it to separate downloading of dependencies from compilation on CI.
But with `org.jetbrains.grammarkit` 2021.2.1, the task starts failing with t

[2022-03-15 12:02] fxsg20151212 opened #73 "Can I customize repositories?"
Hello：

![image](https://user-images.githubusercontent.com/16264691/158373401-31ec97c3-5d95-4148-8677-1b21f000f0a0.png)

Can I customize repositories?

I cannot access this address. We have built an internal Maven repository. Can I customize the Maven repository address?

[2022-03-16 12:34] hsz commented on #73
Would it work for you if you'll set the following repositories in your Gradle configuration? These are resolved URLs that hide behind the cache redirector:
- https://packages.jetbrains.team/maven/p/ij/intellij-dependencies
- https://www.jetbrains.com/intellij-repository/releases

[2022-03-17 02:26] fxsg20151212 commented on #73
![image](https://user-images.githubusercontent.com/16264691/158724155-a6776f41-728b-428b-bcb7-3fc28fe98b8e.png)

Now that I have this error, how do I fix it?
And I checked the https://packages.jetbrains.team/maven/p/ij/intellij-dependencies and https://www.jetbrains.com/intellij-repository/releases , and there was no com/jetbrains/ideaIC in them.

![image](https://user-images.githubusercontent.com

[2022-03-17 08:18] #50 closed

[2022-03-17 08:20] #48 closed

[2022-03-17 08:20] #42 closed

[2022-03-17 08:20] hsz commented on #42
Thanks for reporting. The fix is implemented with the latest release.

[2022-03-17 08:21] #41 closed

[2022-03-17 08:21] hsz commented on #16
Fixed with the latest release.

[2022-03-17 08:21] #16 closed

[2022-03-17 08:22] hsz commented on #3
Is this issue still the thing?

[2022-03-17 10:07] hsz commented on #69
Fixed with c10714c104212d147511457f6836b2f65ab276ac

[2022-03-17 10:07] #69 closed

[2022-03-17 16:30] PHPirates commented on #3
@hsz Yes, this issue is why we cannot use this for our plugin and we have to resort to committing all generated files to git.

[2022-03-29 20:07] hsz commented on #73
Sorry for the delay, I missed the reply.
The valid URL for the given pom is:
[code]

[2022-05-12 15:17] hsz commented on #83
@takanuva15 Actually, mentioned jars are already added to the classpath of the `GenerateParserTask` in the latest available version.

https://github.com/JetBrains/gradle-grammar-kit-plugin/blob/e41ddac7ac4282293cbc5e21d0a06ce957508183/src/main/kotlin/org/jetbrains/grammarkit/GrammarKitPlugin.kt#L57-L73

Looking at your code, I assume you're currently using an outdated version. Could you please upd

[2022-05-12 18:11] takanuva15 commented on #83
@hsz Ah ok, thanks! Seems I had missed that there was .2 feature release and I was using 2021.1.+
`id("org.jetbrains.grammarkit") version "2021.1.+"`

It's working after upgrading and changing `GenerateParser` to `GenerateParserTask`.

You can close this issue.

[2022-05-12 18:48] #83 closed

[2022-05-12 18:48] hsz commented on #83
Thank you for the confirmation, @takanuva15 !

[2022-06-26 15:12] PawelLipski opened #89 "Would it make sense to make `GenerateParserTask` and `GenerateLexerTask` outputs cacheable?"
**Is your feature request related to a problem? Please describe.**

In `--info` mode, Gradle reports that both tasks have caching disabled :/

**Describe the solution you'd like**

Just mark the tasks as `@CacheableTask`?

**Describe alternatives you've considered**

Currently I'm doing sth like:

[code]

[2022-06-27 08:01] PawelLipski commented on #89
Also! there's a caveat around `GenerateParserTask` `targetRoot` and `GenerateLexerTask` `targetDir`... the two folders should not be overlapping, or Gradle won't attempt to cache the outputs of either task :/ This isn't particularly obvious (and only gets reported on `--info` level in Gradle)... it would be good to mention in the docs that the generated Java sources of the tasks shouldn't go to a

[2022-06-28 07:38] YannCebron commented on #89
I'm not sure the complexity to track all involved variables (including specific properties in .bnf/.flex files) is worth the efforts or even doable.

YMMV I enable these tasks only when actively working on lexer/parser with manual temporary `dependsOn` in Gradle. Why do you want to run them all the time?

[2022-06-28 07:58] PawelLipski commented on #89
Oh! so do I understand correctly that you keep the parser/lexer-generated code checked in to git and not git-ignored? 🤔

[2022-06-28 08:01] YannCebron commented on #89
yes. I see no point in regenerating it from scratch all the time. Apart from that, not all setups are fully supported by the Gradle plugin so I *have* to generate Parser manually.

[2022-06-28 08:24] PawelLipski commented on #89
Okay, I'll reconsider my setup then... feel free to close the issue

[2022-07-12 15:13] #89 closed

[2022-08-27 13:04] Danil42Russia commented on #3
Yes, this problem is still present and prevents the development of plugins:(

[2022-10-05 17:34] PawelLipski opened #97 "Gradle tasks spuriously failing when building against 2022.3 EAP due to Java 11/17 discrepancy"
**Describe the bug**

[code]

**To reproduce**

The error is somewhat spurious in the sense that it depends on the JDK/Gradle setup on a specific machine (although if it happens on a given machine, then it happens deterministically). We don't know the exact combination of factors; killing Gradle processes and/or clearing up ~/.gradle/ seems to have helped on some machines.

Might be reproduced on

[2022-10-09 18:33] PawelLipski commented on #97
Delving deeper... looks that ultimately the JVM to run is selected inside `org.gradle.process.internal.DefaultExecActionFactory.DecoratingExecActionFactory#newDecoratedJavaExecAction` (at least under Gradle 7.4.2), which in turn uses:

[code]

So just `Jvm.current()`, not really configurable apparently ☹️

[2022-10-09 20:15] PawelLipski commented on #97
For a 100% reproducible setup:

[code]

Basically, this runs in a container where Java 11 is installed by default.

[2022-10-10 09:31] PawelLipski commented on #97
Let @MaciejG604 take a look (rewrite both tasks to `JavaExec`)

[2022-10-10 09:54] hsz commented on #97
Thanks for raising this issue, Paweł – I agree that making tasks exec-like is a good move.

[2022-11-09 09:58] #97 closed

[2022-11-26 13:00] hfhbd opened #106 "Support Centralized Repository Declaration"
**Is your feature request related to a problem? Please describe.**
Gradle adds incubating support to declare your repositories in your settings gradle file to secure your dependencies supply chain by only downloading dependencies from your declared repositories.

https://docs.gradle.org/current/userguide/declaring_repositories.html#sub:centralized-repository-declaration

[code]

**Describe the sol

[2022-11-28 15:55] hfhbd opened #108 "Move conventions of the task inputs to the tasks"
**Is your feature request related to a problem? Please describe.**
https://github.com/AlecStrong/Grammar-Kit-Composer uses the tasks of this plugin. Updating to the latest version fails because the conventions inputs are not set, only the required inputs.
At the moment you need to apply this plugin to get the conventions of the required task's input. Instead, you should move the conventions into t